bcrypt
blinker
certifi
click
Flask
itsdangerous
Jinja2
Pillow
pycparser
six
SQLAlchemy
Werkzeug
WTForms
cffi
MarkupSafe
flask_sqlalchemy
flask-bcrypt
flask-login
flask-mail
flask-wtf
email_validator