/* :root {
  --panel-background: #f3e9d0;
  --medium-color: #d9bca1;
  --header-background: #887c72;
  --title-color: brown;
  --text-color: #b47154;
  --link-color: darkcyan;
} */
:root {
  --panel-background: white;
  --medium-color: lavender;
  --header-background: darkcyan;
  --title-color: #171717;
  --text-color: #232323;
  --link-color: darkcyan;
}

body {
    color: var(--text-color);
    margin-top: 5rem;
    background-image: radial-gradient(var(--panel-background), var(--medium-color));
    background-size: 100% 100%;
    background-position: 50% 100%;
    background-repeat: no-repeat;
    height: 100vh;
  }
  
  h1, h2, h3, h4, h5, h6 {
    color: var(--title-color);
  }

  .list-group-item-light {
    color: var(--header-background);
    background-color: var(--medium-color);
  }
  
  .bg-steel {
    background-color: var(--header-background);;
  }

  .navbar-dark .navbar-brand {
    color: var(--panel-background);
  }
  
  .site-header .navbar-nav .nav-link {
    color: var(--panel-background);
  }
  
  .site-header .navbar-nav .nav-link:hover {
    color: #ffffff;
  }
  
  .site-header .navbar-nav .nav-link.active {
    font-weight: 500;
  }

  .text-muted {
    color: var(--text-color) !important;
  }
  
  .content-section {
    background: var(--panel-background);
    padding: 10px 20px;
    border: 1px solid var(--header-background);
    border-radius: 10px;
    margin-bottom: 20px;
  }
  
  .site-header .navbar-nav .nav-link {
    color: var(--medium-color);
  }

  .article-title {
    color: var(--title-color);
  }
  
  a.article-title:hover {
    color: #428bca;
    text-decoration: none;
  }
  
  .article-content {
    white-space: pre-line;
  }
  
  .article-img {
    height: 65px;
    width: 65px;
    margin-right: 16px;
  }
  
  .article-metadata {
    padding-bottom: 1px;
    margin-bottom: 4px;
    border-bottom: 1px solid var(--header-background);
  }
  
  .article-metadata a:hover {
    color: #333;
    text-decoration: none;
  }
  
  .article-svg {
    width: 25px;
    height: 25px;
    vertical-align: middle;
  }
  
  .account-img {
    height: 125px;
    width: 125px;
    margin-right: 20px;
    margin-bottom: 16px;
  }
  
  .account-heading {
    font-size: 2.5rem;
  }

  .list-group-item:first-child {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  }

  .list-group-item:last-child {
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
  }

  a {
    color: var(--link-color);
  }

  .btn-info {
    color: var(--panel-background);
    background-color: var(--link-color);
    border-color: var(--link-color);
  }

  .btn-info:hover {
    color: var(--panel-background);
    background-color: var(--link-color);
    border-color: var(--link-color);
  }

  .btn-outline-info {
    color: var(--link-color);
    border-color: var(--link-color);
  }