/* MYtheme */
/* :root {
  --panel-background: white;
  --medium-color: #f0ffff;
  --header-background: white;
  --title-color: #696969;
  --text-color: #414141;
  --link-color: darkcyan;
  --hover-color: #036391;
  --box-shadow: rgb(50 50 93 / 25%) 0px 50px 100px -20px,
    rgb(0 0 0 / 30%) 0px 30px 60px -30px,
    rgb(10 37 64 / 35%) 0px -2px 6px 0px inset;
} */

/* myakshays */
:root {
  --panel-background: white;
  --medium-color: #f4f4ff;
  --header-background: white;
  --title-color: #696969;
  --text-color: #414141;
  --link-color: #620962;
  --hover-color: #c98994;
  --box-shadow: rgb(50 50 93 / 25%) 0px 50px 100px -20px,
    rgb(0 0 0 / 30%) 0px 30px 60px -30px,
    rgb(10 37 64 / 35%) 0px -2px 6px 0px inset;
}

/* Akshay */
/* :root {
  --panel-background: white;
  --medium-color: #e6e6fa;
  --header-background: white;
  --title-color: #696969;
  --text-color: #414141;
  --link-color: purple;
  --hover-color: hotpink;
  --box-shadow: rgb(50 50 93 / 25%) 0px 50px 100px -20px,
    rgb(0 0 0 / 30%) 0px 30px 60px -30px,
    rgb(10 37 64 / 35%) 0px -2px 6px 0px inset;
} */

body {
  color: var(--text-color);
  margin-top: 5rem;
  background-color: var(--medium-color);
  height: 100vh;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--title-color);
}

.list-group-item-light {
  color: var(--text-color);
  background-color: var(--medium-color);
  box-shadow: var(--box-shadow);
  border: none;
}

.bg-steel {
  background-color: var(--header-background);
  -webkit-box-shadow: var(--box-shadow);
  box-shadow: var(--box-shadow);
}

.navbar-dark .navbar-brand {
  background: -webkit-linear-gradient(var(--hover-color), var(--link-color));
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: bold;
}

.navbar-dark .navbar-brand:hover {
  color: var(--hover-color);
}

.site-header .navbar-nav .nav-link {
  color: var(--link-color);
}

.site-header .navbar-nav .nav-link:hover {
  color: var(--hover-color);
}

.site-header .navbar-nav .nav-link.active {
  font-weight: 500;
}

.text-muted {
  color: var(--text-color) !important;
}

.content-section {
  background: var(--panel-background);
  padding: 10px 20px;
  border-radius: 10px;
  margin-bottom: 20px;
  -webkit-box-shadow: var(--box-shadow);
  box-shadow: var(--box-shadow);
}

.article-title {
  color: var(--title-color);
}

a.article-title:hover {
  color: var(--hover-color);
  text-decoration: none;
}

.article-content {
  white-space: pre-line;
}

.article-img {
  height: 65px;
  width: 65px;
  margin-right: 16px;
}

.article-metadata {
  padding-bottom: 1px;
  margin-bottom: 4px;
  border-bottom: 1px solid var(--header-background);
}

.article-metadata a:hover {
  color: var(--hover-color);
  text-decoration: none;
}

.article-svg {
  width: 25px;
  height: 25px;
  vertical-align: middle;
}

.account-img {
  height: 125px;
  width: 125px;
  margin-right: 20px;
  margin-bottom: 16px;
}

.account-heading {
  font-size: 2.5rem;
}

.list-group-item:first-child {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.list-group-item:last-child {
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

a {
  color: var(--link-color);
}

.form-group input,
.form-control-lg,
.input-group-lg > .form-control,
.input-group-lg > .input-group-append > .btn,
.input-group-lg > .input-group-append > .input-group-text,
.input-group-lg > .input-group-prepend > .btn,
.input-group-lg > .input-group-prepend > .input-group-text {
  box-shadow: var(--box-shadow);
  border: none;
}

.form-control-file {
  box-shadow: none !important;
}

.btn-info,
.btn-secondary,
.btn-outline-info {
  color: var(--link-color);
  background-color: var(--panel-background);
  border: none;
  box-shadow: var(--box-shadow);
}

.btn-info:hover,
.btn-secondary:hover,
.btn-outline-info:hover,
.btn-info:active,
.btn-secondary:active,
.btn-outline-info:active {
  color: var(--panel-background) !important;
  background-color: var(--link-color) !important;
  border: none !important;
  box-shadow: var(--box-shadow) !important;
}

.btn-danger {
  color: #dc3545;
  background-color: var(--panel-background);
  border: none;
  box-shadow: var(--box-shadow);
}

.btn-danger:hover {
  color: var(--panel-background);
  background-color: #dc3545;
  border: none;
  box-shadow: var(--box-shadow);
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px var(--hover-color);
  box-shadow: inset 0 0 6px var(--hover-color);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px var(--link-color);
  box-shadow: inset 0 0 6px var(--link-color);
}

::-webkit-file-upload-button {
  background: var(--medium-color);
  color: var(--link-color);
  box-shadow: var(--box-shadow);
  border: 1px solid var(--medium-color);
  border-radius: 5px;
}

::-webkit-file-upload-button:hover {
  background: var(--link-color);
  color: var(--medium-color);
  box-shadow: var(--box-shadow);
}
